<footer class="footer">
    <div class="container">
        <h3><%= name %></h3>
        <p><%= title %> | <%= university %></p>
        
        <div class="social-links">
            <a href="<%= socialLinks.github %>" class="social-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="<%= socialLinks.linkedin %>" class="social-link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="<%= socialLinks.youtube %>" class="social-link youtube" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="<%= socialLinks.behance %>" class="social-link behance" target="_blank">
                <i class="fab fa-behance"></i>
            </a>
            <a href="<%= socialLinks.instagram %>" class="social-link instagram" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="<%= socialLinks.twitter %>" class="social-link" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="<%= socialLinks.facebook %>" class="social-link" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        
        <p>&copy; <span id="current-year"></span> <%= name %>. All rights reserved.</p>
        <p style="margin-top: 0.5rem; font-size: 0.875rem; color: #94a3b8;">
            Full-Stack Developer & Multimedia Creator
        </p>
    </div>
</footer>